* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #a3dbe7;
    max-width: 1000px;
}
.container {
    background-color: #3672f2;
    width: 500px;
    height: 530px;
    border-radius: 10px;
    margin-left: 500px;
    padding: 40px;
    /* margin: 100px; */
    border: solid 1px black;
    margin-top: 80px;

}
.container2 {
    background-color: aquamarine;
    height: 460px;
    padding: 35px;
    font-size: 22px;
    border-radius: 10px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
input {
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    padding: 8px 4px;
    font-size: 16px;
    background-color: transparent;
    width: 100%;
    margin-bottom: 20px;
}
button {
    padding: 10px 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
    
    margin-top: 10px;
    width: 100%;
}
button:hover {
    
    background-color: #0056b3;
}
button:active {
    transform: scale(0.99);
}
p {
    margin-top: 25px;
    margin-left: px;
}
a {
    margin-left: 72px;
}


/* .container2 {
    width: 600px;
   
    border: solid 1px black;
    background-color: #24bed9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 60vh;
    margin-right: 500px;
    
} */